@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & family= Fredericka+the+Great & family= Inter:wght@100;200;300;400;500; 600 & family= Lato:wght@400;700 & family= Open+Sans:wght@300 & family= Passion+One & family= Press+Start+2P & família = Sriracha &family= Ubuntu:ital,wght@0,300;0,400;0,500; 0,700;1,300;1,400;1,500 & display=trocar');

:root{
    --font01: verdana, Geneva, Tahoma, sans-serif;
    --font02: 'Sriracha', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100hv;
    font-family: var(--font01);
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps; /* font-variancia para letras maiusculas*/
    font-family: var(--font01);
    font-size: 5vw;
}
header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
    /*underline, sublinhado*/
}

section{ /*configurações para o efeito paralac*/
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2rem; /*espaçamento entre as linhas*/
    padding-left: 30px; /*espaçamento no inicio do texto*/
    font-family: var(--font02);
    font-weight: bold;
}
section.fundo-normal{
    background-color: white;
    color: black;
}
section.fundo-img{
    background-color: rgb(107, 105, 105);
    color: white;
}
section.fundo-img > p{
    /*confi. do paragrafo quando tiver fundo branco na img*/
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.142);
}


footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}